@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-black text-4xl font-bold;
}

h2 {
  @apply text-black text-3xl font-semibold;
}

h3 {
  @apply text-black text-2xl font-semibold;
}

p {
  @apply text-black;
}

a {
  @apply text-black hover:underline;
}
